.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120vh;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-color: #f7f7f7;
}
.information {
  display: flex;
  justify-content: space-around;
}
.contact-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.information div {
  padding: 2rem;
  font-size: 1.3rem;
}
