.message-btn {
  background: #e9e6e6;
  color: #413e3e;
  border-radius: 50px;
  padding: 14px;
  text-align: center;
  height: fit-content;
  font-weight: 700;
}

.msg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: #f7f7f7;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 4rem;
}

#director-message {
  border-radius: 15px;
}

/* .msg-video {
  width: 30%;
  height: 30%;
  background: #d9d9d9;
} */

.msg-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem 2rem 2rem;
  color: #303030;
  width: 40%;
}
.message-data {
  color: #000;
  margin-top: 3rem;
}
